.register-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.register__title {
    text-align: center;
}

.register-form__label {
    display: block;
    font-size: 20px;
    font-weight: bold;
    padding-top: 30px;
}

.register-form__input {
    width: 100%;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}