.login-form {
    max-width: 740px;
    margin: 0 auto;
    padding: 40px;
}

.login__title {
    text-align: center;
}

.login-form__label {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.login-form__input {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 15px;
}

.login-form__error {
    color: red;
    font-size: 16px;
}

.login-form__button {
    margin: 90px 0 30px 0;
    width: 100%;
    padding: 8px 0;
    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.register-link {
    display: block;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    text-decoration: none;
    color: #0073cc;
    font-size: 18px;
}